@font-face {
    font-family: Oswald;
    src:url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: Oswald Medium;
    src:url(../fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: Oswald Light;
    src:url(../fonts/Oswald-Light.ttf);
}

/*RESET*/
*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;

    line-height: 1.2;
    letter-spacing: 0em;
    vertical-align: middle;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{background: #fbfbfb;}
p:last-child{margin-bottom: 0;}
mark{padding: 5px 10px; background-color: #eee;}
ul{list-style: none;}
img{float: left; border: none;}
a{text-decoration: none;}
a img{border: 0;}
a:visited{text-decoration: none;}

/* PALETA */
/* BACKGROUND */
.bg-black{background-color: #000000; color: #ffffff;}
.bg-white-grey{background-color: #ffffff; color: #666666;}
.bg-brown-white{background-color: #493b36; color: #ffffff;}
.bg-pink-white{background-color: #ff6666; color: #ffffff;}

/* fonts */
.font{font-family: Oswald;}
.font-oswald-medium{font-family: Oswald Medium;}
.font-oswald-light{font-family: Oswald Light;}
.font-georgia{font-family: Georgia, "Times New Roman", serif;}

/*font size*/
.fontzero{font-size: 0em !important;}
.fontsize090{font-size: .90em;}
.fontsize1{font-size: 1em;}
.fontsize1b{font-size: 1.4em;}
.fontsize60{font-size: 60px;}
.fontsize45{font-size: 45px;}
.fontsize30{font-size: 30px;}

/* font weight */
.font-thin{font-weight: 100 !important;}
.font-light{font-weight: 300 !important;}
.font-normal{font-weight: 400 !important;}
.font-bold{font-weight: 700 !important;}

/*text*/
.text-uppercase{text-transform: uppercase;}

/*text align*/
.al-left{text-align: left;}
.al-right{text-align: right;}
.al-center{text-align: center;}

/*float*/
.fl-left{float: left;}
.fl-right{float: right !important;}
.fl-none{float: none;}

/*display*/
.ds-block{display: block;}
.ds-inblock{display: inline-block;}
.ds-inline{display: inline;}
.ds-none{display: none;}

/* clear */
.clear{clear: both;}

/*images*/
.img-micro{padding: 3px 10px 0 0}

/*helpers*/
.transparence-85{background-color: rgba(0,0,0,.85) !important;}
.transparence-70{background-color: rgba(73,59,54,.70) !important;}

/*sections*/
/*Home*/
.section-1{
    height: 560px;
    background: url(../images/home/img-topo.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 35px;
}

.section-header {
    z-index: 1;
    position: relative
}

.header_box{height: 73px; width: 220px; padding-top: 9px; margin-bottom: 20px}
.header_box_shadow{
    -webkit-box-shadow: 0px 3px 0px 0px rgba(255,153,153,1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(255,153,153,1);
    box-shadow: 0px 3px 0px 0px rgba(255,153,153,1);
}

.game_box {
    height: 363px;
    width: 220px;
    background-color: #993333;
    color: #ffffff;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(153,0,0,1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(153,0,0,1);
    box-shadow: 0px 3px 0px 0px rgba(153,0,0,1);
}

.game_box h2 p {
    margin-top: 10px;
    line-height: 60px;
}

.btn_game {
    width: 190px;
    height: 63px;
    padding: 15px;
    margin: 40px 15px 20px 15px;
}

.position_image_text_info {
    padding: 31px 0 31px 0;
    position: absolute;
    top: 495px;
}

.regulates_position {
    position: relative;
    top: 470px;
}

.menu-height{height: 90px; padding-top: 7px;}
.menu-item{display: inline-block; margin-left: 18px; margin-top: 20px; padding-top: 2px;}
.list-info{display: inline-block; margin-left: 75px;}

.menu_section li {
    height: 60px;
    width: 220px;
    display: inline-block;
    color: #333333;
    font-size: 25px;
    font-family: Oswald Medium;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(204,204,204,1);
    box-shadow: 0px 1px 0px 0px rgba(204,204,204,1);
    margin-bottom: 8px;
}

.menu_section p {
    line-height: 28px;
}

.menu_section img {
    padding-right: 13px;
    padding-top: 2px;
}

.menu_section li a:visited {
    text-decoration: none;
    color: #333333;
}