@font-face {
    font-family: Oswald;
    src:url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: Oswald Light;
    src:url(../fonts/Oswald-Light.ttf);
}

/*RESET*/
*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;

    line-height: 1.2;
    letter-spacing: 0em;
    vertical-align: middle;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{background: #fbfbfb;}
p:last-child{margin-bottom: 0;}
mark{padding: 5px 10px; background-color: #eee;}
ul{list-style: none;}
img{float: left; border: none; width: 100%; max-width: 100%;}
a{text-decoration: none;}
a img{border: 0;}

/* fonts */
.font{font-family: Oswald;}
.font-menu{font-size: 26px}

/* clear */
.clear{clear: both;}